In [1]:
import pandas as pd
import numpy as np

from helicast.utils import auto_convert_to_datetime_index

In [2]:
def generate_date_range(
    start_date="2020-04-01 00:00:00",
    end_date="2020-04-07 23:00:00",
    freq="h",
    format=None,
) -> pd.DatetimeIndex:
    dates = pd.date_range(start=start_date, end=end_date, freq=freq)
    dates = dates.to_series().reset_index(drop=True)
    if format:
        dates = dates.dt.strftime(format)
    return dates

In [3]:
df = pd.DataFrame()
df["date"] = generate_date_range(format="%d/%m/%Y %H:%M:%S", freq="1d").values.tolist()
df["date"] = df["date"].apply(lambda x: x[1:])
df["date"] = df["date"].apply(lambda x: x.replace("/0", "/"))
# This is a DF with a date column as string
print("Date column type BEFORE:", df["date"].dtype)
display(df)

# Auto convert to a proper datetime type!
df["date"] = auto_convert_to_datetime_index(df["date"].to_list())
print("Date column type AFTER:", df["date"].dtype)
df

Date column type BEFORE: object

                date
0  1/4/2020 00:00:00
1  2/4/2020 00:00:00
2  3/4/2020 00:00:00
3  4/4/2020 00:00:00
4  5/4/2020 00:00:00
5  6/4/2020 00:00:00
6  7/4/2020 00:00:00

Date column type AFTER: datetime64[ns]

        date
0 2020-04-01
1 2020-04-02
2 2020-04-03
3 2020-04-04
4 2020-04-05
5 2020-04-06
6 2020-04-07

In [4]:
# TESTING
from helicast.utils._date_utils import DATE_FORMATS, DATETIME_FORMATS

for format in DATETIME_FORMATS + DATE_FORMATS:
    dates = generate_date_range(format=None)
    if format in DATE_FORMATS:
        dates = dates.dt.ceil("D")
    checks = (
        auto_convert_to_datetime_index(dates.dt.strftime(format)).values == dates.values
    )
    print(format, np.all(checks))

%Y/%m/%d %H:%M:%S True
%Y/%d/%m %H:%M:%S True
%m/%d/%Y %H:%M:%S True
%d/%m/%Y %H:%M:%S True
%Y-%m-%d %H:%M:%S True
%Y-%d-%m %H:%M:%S True
%m-%d-%Y %H:%M:%S True
%d-%m-%Y %H:%M:%S True
%y/%m/%d %H:%M:%S True
%y/%d/%m %H:%M:%S True
%m/%d/%y %H:%M:%S True
%d/%m/%y %H:%M:%S True
%y-%m-%d %H:%M:%S True
%y-%d-%m %H:%M:%S True
%m-%d-%y %H:%M:%S True
%d-%m-%y %H:%M:%S True
%Y/%m/%d True
%Y/%d/%m True
%m/%d/%Y True
%d/%m/%Y True
%Y-%m-%d True
%Y-%d-%m True
%m-%d-%Y True
%d-%m-%Y True
%y/%m/%d True
%y/%d/%m True
%m/%d/%y True
%d/%m/%y True
%y-%m-%d True
%y-%d-%m True
%m-%d-%y True
%d-%m-%y True